<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:400,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css"></link>
    <title>Thirty Five Lives</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="title-container">
                <h1>Chris Eadie</h1>
            </div>
            <hr class="solid-grey">
            <div class="category-panel">
                <div class="cat-container">
                    <a href="">Fashion</a>
                    <a href="">Lifestyle</a>
                    <a href="">Health</a>
                    <a href="">Food</a>
                </div>
            </div>
            <hr class="solid-grey">
        </nav>
        <div class="blog-wrapper">
            {% for item in data %}
            <div class="post-container">
             <div class="post-image" style="background-image:url({{item.bannerImage}})"></div>
                <div class="post-title">{{item.title}}</div>
                <div class="post-desc">{{item.description}}</div>
                <div class="post-author"><span class="post-label">Written by:</span> {{item.author}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="/scripts.js"></script>
</body>
</html>