<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css" ></link>
    <title>TFL Post List</title>
</head>
<body>
<div class="navbar">
    <div class="nav-container">
        <div class="navbar__title">35.</div>
        <div>Logout</div>
    </div>
</div>
<div class="container">
    <div class="saveDraftBox">
            <a href="/posts" class="settings-primary-btn">Back</a>
        <button class="settings-primary-btn" id="save-post">Save Post</button>
    </div>
    <div class="editor-container">
        <h2 style="margin-bottom:2rem;margin-top:1rem;">Post Editor</h2>
        <div class="meta-container">
            <div class="meta-title">
                <label>Title</label>
                <input type="text" value="{{data.title}}" name="title" id="post-title"/>  
            </div>
            <div class="meta-description">
                <label>Description</label>
                <input type="text" value="{{data.description}}" name="description" id="post-description"/>            
            </div>
            <div class="meta-author">
                <label>Author</label>
                <input type="text" value="{{data.author}}" name="author" id="post-author"/>
            </div>
            <div class="meta-language">
                <label>Language</label>
                <select id="post-language" name="language">
                    <option value="en-us" selected disabled>Please select a language</option>
                    <option value="en-us">English</option>
                </select>
            </div>
        </div>
        <div>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" accept="image/*" name="bannerImage" id="fileUpload"/>
                <button type="submit" class="editor-btn" id="btnSubmit">Upload</button>
            </form>
        </div>
        <div class="editorTools">
            <div class="tools-container">
                <button class="editor-btn" id="edit-bold"><i class="fas fa-bold"></i></button>
                <button class="editor-btn" id="edit-italic"><i class="fas fa-italic"></i></button>
                <button class="editor-btn" id="edit-underline"><i class="fas fa-underline"></i></button>
                <button class="editor-btn" id="edit-align-left"><i class="fas fa-align-left"></i></button>
                <button class="editor-btn" id="edit-align-center"><i class="fas fa-align-center"></i></button>
                <button class="editor-btn" id="edit-align-right"><i class="fas fa-align-right"></i></button>
                <select class="editor-select" id="edit-heading">
                    <option value="1">heading 1</option>
                    <option value="2">heading 2</option>
                    <option value="3">heading 3</option>
                    <option value="4">heading 4</option>
                    <option value="5">heading 5</option>
                    <option value="0">normal</option>
                </select>
            </div>
            <div class="text-container" id="editorDiv">{{data.body["en-us"] | safe}}</div>
        </div>
        <input type="hidden" id="editor-type" value="{% if data.id %}edit{% else %}new{% endif %}"/>
        <input type="hidden" id="editor-id" value="{{data.id}}"/>
        <input type="hidden" id="filePath" value="{{data.bannerImage}}"/>
    </div>
</div>
<script src="https://kit.fontawesome.com/d1b67f5949.js"></script>
<script src="/rooster-min.js"></script>
<script>
    var editorDiv = document.getElementById("editorDiv");
    var editor = roosterjs.createEditor(editorDiv)
</script>
<script src="/scripts.js"></script>
</body>
</html>