<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="style.css" type="text/css" rel="stylesheet"></link>
    <title>TFL Editor</title>
</head>
<body>
<div class="navbar">
    <div class="navbar__title">35.</div>
    <div class="controls">
        <a href="/posts">Back</a>
        <div>Logout</div>
    </div>
</div>
<div>editor goes here</div>
    <script src="scripts.js"></script> 
</body>
</html>