<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css" ></link>
    <title>TFL Post List</title>
</head>
<body>
<div class="navbar">
    <div class="nav-container">
        <div class="navbar__title">35.</div>
        <div>Logout</div>
    </div>
</div>
<div class="container">
    <div class="saveDraftBox">
        <button class="settings-primary-btn" id="save-post">Save Post</button>
    </div>
    <div class="editor-container">
        <h2>Post Editor</h2>
        <div class="meta-container">
            <div class="meta-title">
                <label>Title</label>
                <input type="text" name="title" id="post-title"/>  
            </div>
            <div class="meta-description">
                <label>Description</label>
                <input type="text" name="description" id="post-description"/>            
            </div>
            <div class="meta-author">
                <label>author</label>
                <input type="text" name="author" id="post-author"/>
            </div>
            <div class="meta-language">
                <label>Language</label>
                <select id="post-language" name="language">
                    <option value="en-us" selected disabled>Please select a language</option>
                    <option value="en-us">English</option>
                </select>
            </div>
        </div>
        <div class="editorTools">
            <div class="text-container" id="editorDiv">{{data.body["en-us"] | safe}}</div>
        </div>
        <input type="hidden" id="editor-type" value="{% if data.id %}edit{% else %}new{% endif %}"/>
    </div>
</div>
<script src="https://kit.fontawesome.com/d1b67f5949.js"></script>
<script src="/rooster-min.js"></script>
<script>
    var editorDiv = document.getElementById("editorDiv");
    var editor = roosterjs.createEditor(editorDiv)
</script>
<script src="/scripts.js"></script>
</body>
</html>