body{
    margin:0;
    padding: 0;
    font-family: helvetica;
}

.navbar{
    background: #0e0e0e;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    align-items: center
}
.navbar .controls{
    display: flex;
}
.navbar .controls a{
    color:white;
    text-decoration: none;
    margin-right: 10px;
}
.navbar .navbar__title{
    color: white;
    font-family: helvetica;
    text-transform: uppercase;
    font-weight: bold;
    font-size:30px
}
.container{
    max-width:1400px;
    margin-left:auto;
    margin-right: auto;
}
.settings-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.settings-container.published{
    margin-top:1.5rem;
    margin-bottom:.5rem;
}
.settings-container .draft-title{
    font-weight: bold;
    font-size: 28px;
  
}
.settings-container .settings-primary-btn{
    font-size: 13px;
    padding: 1.5rem;
    border-radius: 10px;
    border: none;
    color: #0e0e0e;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: lighter;
}
.settings-container .settings-secondary-btn{
    padding: 1rem;
}
.post-item{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    border-top:1px solid lightgrey;
}
.post-details a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
}
.post-item:last-child{
    border-bottom:1px solid lightgrey;
}
.post-item .post-action{
    display: flex;
}
.post-item .post-action div{
    margin-left: 10px;
    font-weight: lighter;
}
.post-item .post-action div a{
    text-decoration: none;
    color:black
}