body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.navbar {
  background: #0e0e0e;
  padding: 0.75rem;
  color: white;
  align-items: center;
}
.nav-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar .controls {
  display: flex;
}
.navbar .controls a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}
.navbar .navbar__title {
  color: white;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}
.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.settings-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings-container.published {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.settings-container .draft-title {
  font-weight: bold;
  font-size: 28px;
}
.settings-primary-btn {
  font-size: 13px;
  padding: 1.5rem;
  border-radius: 10px;
  border: none;
  color: #0e0e0e;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: lighter;
  background: none;
}
.settings-secondary-btn {
  padding: 1rem;
}
.post-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  border-top: 1px solid lightgrey;
}
.post-details a {
  text-decoration: none;
  color: black;
  font-weight: lighter;
}
.post-item:last-child {
  border-bottom: 1px solid lightgrey;
}
.post-item .post-action {
  display: flex;
}
.post-item .post-action div {
  margin-left: 10px;
  font-weight: lighter;
}
.post-item .post-action div a {
  text-decoration: none;
  color: black;
}

.saveDraftBox {
  display: flex;
  justify-content: space-between;
}
.editor-container {
  border-top: 1px solid lightgrey;
}
.text-container {
  border: 1px solid lightgrey;
  min-height: 600px;
  padding: 10px;
}
.meta-container {
  display: flex;
  margin-bottom: 1rem;
}
.meta-container .meta-title {
  flex: 1;
}
.meta-container .meta-title label {
  width: 100%;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
}
.meta-container .meta-title input {
  width: 95%;
  display: block;
  font-family: "Roboto", sans-serif;
  height: 2.5rem;
  font-size: 17px;
}
.meta-container .meta-description {
  flex: 1;
}
.meta-container .meta-description label {
  width: 100%;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
}
.meta-container .meta-description input {
  width: 95%;
  display: block;
  font-family: "Roboto", sans-serif;
  height: 2.5rem;
  font-size: 17px;
}
.meta-container .meta-author {
  flex: 1;
}
.meta-container .meta-author label {
  width: 100%;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
}
.meta-container .meta-author input {
  width: 95%;
  display: block;
  font-family: "Roboto", sans-serif;
  height: 2.5rem;
  font-size: 17px;
}
.meta-container .meta-language {
  flex: 1;
}
.meta-container .meta-language label {
  width: 100%;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
}
.meta-container .meta-language select {
  width: 95%;
  display: block;
  font-family: "Roboto", sans-serif;
  height: 2.5rem;
}
.editor-btn {
  border: none;
  background: none;
  padding: 1.5rem;
  margin-right: 5px;
}
.editor-btn:hover {
  background-color: lightgrey;
}
.editor-select {
  height: 2.5rem;
  width: 200px;
  outline: none;
  border: none;
  border-bottom: 1px solid lightgrey;
}

.login-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 20px 2px lightgrey;
  padding: 2rem;
}
.username-container {
  width: 100%;
}
.username-container label {
  display: block;
  width: 100%;
}
.username-container input {
  height: 2rem;
  border: 1px solid lightgrey;
  width: 100%;
}
.submit-wrapper button {
  margin-top: 20px;
  width: 150px;
  height: 2rem;
  padding: 0.5rem;
  background: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  border: 1px solid lightgrey;
}
.meta-container .meta-category {
  width: 23.75%;
}
.meta-container .meta-category select {
  width: 100%;
  display: block;
  font-family: "Roboto", sans-serif;
  height: 2.5rem;
}
